<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.item.mapper.BrandMapper">

    <insert id="insertCategoryBrand">
        insert into tb_category_brand (brand_id,category_id)
        values
        <foreach collection="ids" item="cid" separator=",">
            (#{id},#{cid});
        </foreach>
    </insert>
</mapper>